<div class="card-table">
    <div class="card card-menu">
        <header class="card-header">
            <p class="card-header-title" style="font-size: 20px;">
              Historial de Prestamos
            </p>
          </header>
        <div *ngIf="!load" class="card-content">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Libro</th>
                        <th>Fecha</th>
                        <th>Actualizacion</th>
                        <th>Estatus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let loanHist of loanHists">
                        <td>{{loanHist.id}}</td>
                        <td>{{loanHist.user}}</td>
                        <td>{{loanHist.book}}</td>
                        <td>{{loanHist.loan_date | date:'MM-dd-yyy'}}</td>
                        <td>{{loanHist.update_date | date:'MM-dd-yyy'}}</td>
                        <td>{{loanHist.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="load" style="text-align: center; margin-top: 10%;">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>

