.label-control-description{
    text-align: justify;
    font-weight: 350;
    font-size: 15px;
}

.constant-label{
    font-weight: 600;
    font-size: 20px;
}

.label-control{
    font-weight: 350;
    font-size: 15px;
}

.constant-label-description{
    font-weight: 600;
    font-size: 20px;
}


.example-spacer {
    flex: 1 1 auto;
  }
