<div class="card-table">
    <div class="card card-menu">
        <div *ngIf="!load" class="card-content">
         <button mat-button class="button is-success" (click)="openDialog()">Agregar Libro</button>
            <br><br>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th style="width: 11%;">Imagen</th>
                        <th>Codigo</th>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>Edición</th>
                        <th style="width: 40%;">Descripción</th>
                        <th>Opcs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of books">
                        <td><img [src]="book.image" alt="img book"></td>
                        <td>{{book.code}}</td>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.edition}}</td>
                        <td>{{book.description}}</td>
                        <td>
                            <span>
                                <img class="icon" src="assets/icons/edit.png" alt="edit" (click)="openDialog(book)">
                                <img class="icon" src="assets/icons/delete.png" alt="delete"
                                    (click)="deleteBook(book.id)" />
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="load" style="text-align: center; margin-top: 10%;">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>