
<div *ngIf="authService.user.token != '' && authService.user.user.type == 'LECTOR'" class="container">
    <div class="card" style="margin: 10px 0;">
        <div class="card-body" >
            <h1>Libros</h1>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let bok of books" class="col-md-4">
            <div class="card" >
                <div style="text-align: center;">
                    <img [src]="bok.image" width="200px" alt="Card image cap">
                </div>
                    <div class="container">
                        <br><h3 class="card-title"><b>{{bok.title}}</b></h3>
                        <p class="class-text">Autor:{{bok.author}}</p>
                        <a class="btn"  (click)="openModal(bok)">Mostrar mas</a>
                        
                    </div> 
            </div>
        </div>
        
    </div>
    <mat-spinner *ngIf="books.length === 0"  [diameter]="80"></mat-spinner>
</div>