.card-menu{
    margin:auto;
    width: 300px;
}

.header-login{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}

.label-login{
    font-size: 18px;
    font-weight: 500;
}

.space-items{
    margin-top: 20px;
}