<div style="margin-top: 5%;">
    <div class="card card-menu">
        <div class="card-content">
            <header class="header-login">
                <p>Login</p>
            </header>
            <form [formGroup]="formLogin" (ngSubmit)="login()">
                <div class="space-items">
                    <label for="email" class="label-login">email</label>
                    <input id="email" class="input" type="email" formControlName="email" placeholder="example@domain.com">
                </div>
                <div class="space-items">
                    <label for="pws" class="label-login">Password</label>
                    <input id="pws" class="input" type="password" formControlName="password" placeholder="">
                </div>
                <div *ngIf="!load" class="space-items" style="text-align: center;">
                    <button class="button is-success">Enter</button>
                </div>
            </form>
            <div *ngIf="load" style="text-align: center; margin-top: 10%;">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>